<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">
            \NoticeRee\logs
        </Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </Console>
        <File name="AppFile" fileName="${basepath}/log.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.astraljaeger" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="com.github.philippheuer.events4j" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="twitch4j" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>